4K11qcjrsJNSKpsA-Perplexity_AI_Agent_Real_time_stock_research.json
{
  "name": "Perplexity+AI Agent - Real time stock research",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=Give a real-time stock research answer for stock: {{ $json.body.symbol }} using perplexity-search tool. Include news, analyst views, and cite sources.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -620,
        -80
      ],
      "id": "c8a1316e-7ca5-4368-82c4-0808af3aa23e",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "sonar",
        "messages": {
          "message": [
            {
              "content": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('message0_Text', ``, 'string') }}"
            }
          ]
        },
        "options": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.perplexityTool",
      "typeVersion": 1,
      "position": [
        -420,
        140
      ],
      "id": "c1eb2249-ae09-4fbe-b85f-d06e90f0052f",
      "name": "Message a model in Perplexity",
      "credentials": {
        "perplexityApi": {
          "id": "RgMhz2YTDrNvOedd",
          "name": "Perplexity account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "f661d19b-7f9b-4a46-948b-e96dc2072235",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -840,
        -80
      ],
      "id": "b15e1f41-fb06-4cb1-8da3-604974467153",
      "name": "Webhook",
      "webhookId": "f661d19b-7f9b-4a46-948b-e96dc2072235"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -244,
        -80
      ],
      "id": "972358ae-639a-4488-9f0c-0ce14c01ac7c",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "model": "openai/gpt-4o-mini",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -660,
        140
      ],
      "id": "7ecceb1e-ba1c-4e56-8bba-d77aa59cd2f0",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "Q9TlL3BJTUOnSXPt",
          "name": "OpenRouter account"
        }
      }
    }
  ],
  "connections": {
    "Message a model in Perplexity": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {},
  "triggerCount": 0,
  "meta": {
    "templateCredsSetupCompleted": true
  }
}