Ne7iZxagQWYU8Hey-MCP2.json
{
  "name": "MCP2",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "140ed1b2-f873-445f-8d8a-d288ef8010ca",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "position": [
        100,
        100
      ],
      "webhookId": "c42d1e2e-b175-48cf-bfd4-aa8289266a20",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a task assistant.\n\nBased on the message: {{ $json.chatInput }}\n\nReturn a JSON object matching this structure:\n- tool: one of \"Create\", \"update\", or \"search\"\n- params: with keys \"TaskName\", \"DueDate\", and \"Assignee\" as applicable\n\nOutput only valid JSON. Do not explain anything.",
        "hasOutputParser": true,
        "options": {}
      },
      "id": "11fdcae8-5ac8-4507-8f1d-0cc53727ab96",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        360,
        0
      ],
      "typeVersion": 1.9,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "sseEndpoint": "https://datacloudlabs.app.n8n.cloud/mcp/4578e1b4-990c-439c-8256-6a949609e5cc/sse"
      },
      "id": "dc72d729-2db3-49bc-a5c9-44ccb92912c5",
      "name": "Airtable MCP Client",
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "position": [
        800,
        300
      ],
      "typeVersion": 1,
      "alwaysOutputData": true,
      "notesInFlow": true
    },
    {
      "parameters": {
        "path": "4578e1b4-990c-439c-8256-6a949609e5cc"
      },
      "id": "1507da99-1e22-41b6-8e8d-910b74d44a5e",
      "name": "MCP Server Trigger",
      "type": "@n8n/n8n-nodes-langchain.mcpTrigger",
      "position": [
        140,
        560
      ],
      "webhookId": "a93f35fb-3a86-4475-9ebd-1434aef8e433",
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "apphDRA3cSQnhMcX1",
          "mode": "list",
          "cachedResultName": "Task Manager",
          "cachedResultUrl": "https://airtable.com/apphDRA3cSQnhMcX1"
        },
        "table": {
          "__rl": true,
          "value": "tblP9mVIy6LNLbr3U",
          "mode": "list",
          "cachedResultName": "Tasks",
          "cachedResultUrl": "https://airtable.com/apphDRA3cSQnhMcX1/tblP9mVIy6LNLbr3U"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "Task ID"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Task ID",
              "displayName": "Task ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Task Name",
              "displayName": "Task Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Due Date",
              "displayName": "Due Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Assignee",
              "displayName": "Assignee",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Todo",
                  "value": "Todo"
                },
                {
                  "name": "In progress",
                  "value": "In progress"
                },
                {
                  "name": "Done",
                  "value": "Done"
                }
              ],
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "a6aefb6c-d392-450a-9661-af6e063606e3",
      "name": "Update",
      "type": "n8n-nodes-base.airtableTool",
      "position": [
        220,
        780
      ],
      "typeVersion": 2.1,
      "credentials": {
        "airtableTokenApi": {
          "id": "Ss7NWIAfy9NObKcK",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "apphDRA3cSQnhMcX1",
          "mode": "list",
          "cachedResultName": "Task Manager",
          "cachedResultUrl": "https://airtable.com/apphDRA3cSQnhMcX1"
        },
        "table": {
          "__rl": true,
          "value": "tblP9mVIy6LNLbr3U",
          "mode": "list",
          "cachedResultName": "Tasks",
          "cachedResultUrl": "https://airtable.com/apphDRA3cSQnhMcX1/tblP9mVIy6LNLbr3U"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {
            "TaskName": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('TaskName', ``, 'string') }}",
            "DueDate": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('DueDate', ``, 'string') }}",
            "Assignee": "="
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "TaskID",
              "displayName": "TaskID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "TaskName",
              "displayName": "TaskName",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "DueDate",
              "displayName": "DueDate",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Assignee",
              "displayName": "Assignee",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Todo",
                  "value": "Todo"
                },
                {
                  "name": "In progress",
                  "value": "In progress"
                },
                {
                  "name": "Done",
                  "value": "Done"
                }
              ],
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "1988e050-90d9-47a6-b567-035f547fae9e",
      "name": "Create",
      "type": "n8n-nodes-base.airtableTool",
      "position": [
        100,
        780
      ],
      "typeVersion": 2.1,
      "credentials": {
        "airtableTokenApi": {
          "id": "Ss7NWIAfy9NObKcK",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "model": "openai/gpt-4o-mini",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        320,
        220
      ],
      "id": "2e91e78a-cb4d-4ca4-8a2d-27636e6ce4de",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "Q9TlL3BJTUOnSXPt",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "apphDRA3cSQnhMcX1",
          "mode": "list",
          "cachedResultName": "Task Manager",
          "cachedResultUrl": "https://airtable.com/apphDRA3cSQnhMcX1"
        },
        "table": {
          "__rl": true,
          "value": "tblP9mVIy6LNLbr3U",
          "mode": "list",
          "cachedResultName": "Tasks",
          "cachedResultUrl": "https://airtable.com/apphDRA3cSQnhMcX1/tblP9mVIy6LNLbr3U"
        },
        "filterByFormula": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Filter_By_Formula', ``, 'string') }}",
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
        "options": {}
      },
      "id": "8a9a79dd-8832-4108-af20-1da2d657eae4",
      "name": "Search",
      "type": "n8n-nodes-base.airtableTool",
      "position": [
        340,
        780
      ],
      "typeVersion": 2.1,
      "credentials": {
        "airtableTokenApi": {
          "id": "Ss7NWIAfy9NObKcK",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"tool\": {\n      \"type\": \"string\",\n      \"description\": \"The name of the tool to call. One of: Create, update, search.\"\n    },\n    \"params\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"TaskName\": {\n          \"type\": \"string\",\n          \"description\": \"Name of the task to be created or updated\"\n        },\n        \"DueDate\": {\n          \"type\": \"string\",\n          \"description\": \"Due date in YYYY-MM-DD format\"\n        },\n        \"Assignee\": {\n          \"type\": \"string\",\n          \"description\": \"Person assigned to the task\"\n        }\n      },\n      \"required\": [\"Assignee\"]\n    }\n  },\n  \"required\": [\"tool\", \"params\"]\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        520,
        220
      ],
      "id": "f5e3872c-d6cf-4243-bcf2-b8b63fda2c15",
      "name": "Structured Output Parser"
    }
  ],
  "connections": {
    "Create": {
      "ai_tool": [
        [
          {
            "node": "MCP Server Trigger",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update": {
      "ai_tool": [
        [
          {
            "node": "MCP Server Trigger",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Airtable MCP Client": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Search": {
      "ai_tool": [
        [
          {
            "node": "MCP Server Trigger",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        []
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {},
  "triggerCount": 2,
  "meta": {
    "templateCredsSetupCompleted": true
  }
}