Workflows/9IDbTH7XTApCu0C1-RAG_Agent_workflow.json
{
  "name": "RAG_Agent_workflow",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "122dZJBaqHpl1n98SdSXBPFUUYt5zcNTq",
          "mode": "list",
          "cachedResultName": "FAQ",
          "cachedResultUrl": "https://drive.google.com/drive/folders/122dZJBaqHpl1n98SdSXBPFUUYt5zcNTq"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -160,
        0
      ],
      "id": "54ae087e-b413-4e16-bd95-30cb8f14f6d3",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "08sL6o35C3A6MHhf",
          "name": "GCP_demo"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        140,
        0
      ],
      "id": "e1de365e-4389-4b1d-8221-bce408730bfe",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "08sL6o35C3A6MHhf",
          "name": "GCP_demo"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "demo",
          "mode": "list",
          "cachedResultName": "demo"
        },
        "options": {
          "pineconeNamespace": "FAQ"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        456,
        0
      ],
      "id": "38b1539a-374f-436f-a4ac-f1bf7d2602b1",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "DgycPygh9TaTvBdY",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        440,
        220
      ],
      "id": "bbf9f9fd-463b-4d96-9aa0-e4f9709b9d85",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "YOsf8InIYk9StIMW",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        560,
        222.5
      ],
      "id": "a6100058-9ae3-4b8b-b8ed-897600133b1a",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        560,
        420
      ],
      "id": "bc205e24-c2cb-4a60-9e0f-e6af163ce353",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        1000,
        20
      ],
      "id": "f2b35782-1158-4082-9eea-17f7069835ef",
      "name": "When chat message received",
      "webhookId": "8754dc26-a758-43dc-a7ac-16bdccdccbd7"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        1240,
        20
      ],
      "id": "98bf5442-de80-4f1e-a4b8-3fed2bf67916",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1220,
        240
      ],
      "id": "1dea2ba0-4128-4098-9731-c55c10e384a5",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "YOsf8InIYk9StIMW",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1340,
        240
      ],
      "id": "9816b1cf-ab91-49ae-a0e6-156d2250ae1c",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Call this tool to know human resource related FAQ",
        "pineconeIndex": {
          "__rl": true,
          "value": "demo",
          "mode": "list",
          "cachedResultName": "demo"
        },
        "options": {
          "pineconeNamespace": "FAQ"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        1500,
        240
      ],
      "id": "b0324f12-efcc-4455-b3dd-2d3ae1919960",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "DgycPygh9TaTvBdY",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1520,
        480
      ],
      "id": "daa3f266-8f91-440c-a891-50b3656d2a88",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "YOsf8InIYk9StIMW",
          "name": "n8n free OpenAI API credits"
        }
      }
    }
  ],
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {},
  "triggerCount": 0,
  "meta": {
    "templateCredsSetupCompleted": true
  }
}
